.lessonPlanGrid {
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  background-color: salmon;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.demographics {
  grid-area: 1 / 1 / 2 / 2;
  background: lightblue;
}

.schedule {
  grid-area: 1 / 2 / 2 / 3;
  background: lightgreen;
}

.content {
  grid-area: 2 / 1 / 3 / 2;
  background: lightseagreen;
}

.conceptSequence {
  grid-area: 2 / 2 / 3 / 3;
  background: lightslategray;
  display: flex;
  flex-wrap: wrap;
}

.concept {
  background-color: rgb(189, 189, 207);
  border-radius: 5px;
  margin: 5px;
  height: 25px;
  list-style: none;
}