.practiceRep {
  list-style: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.option-selected::before {
  content: "✓ ";
}

.songAndButtonWrapper {
  display: flex;
  align-items: center;
}

.songAndButtonWrapper p {
  margin-right: 10px;
}